@model model.Models.Recenzie

{
    ViewBag.Title = "Edit";
}

<h2>Editare recenzie</h2>

<br />

@using (Html.BeginForm())
{
    <div class="form-horizontal">
        
        @Html.HiddenFor(x => x.IdRecenzie);

        <div class="form-group">
            @Html.LabelFor(x => x.Titlu, new {@class = "control-label col-md-3"})
            <div class="col-md-9">
                @Html.TextBoxFor(x => x.Titlu, new {@class = "form-control"})
                @Html.ValidationMessageFor(x => x.Titlu, "", new {@class = "text-danger"})
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(x => x.IDFilm, new {@class = "control-label col-md-3"})
            <div class="col-md-9">
                @Html.TextBoxFor(x => x.IDFilm, new {@class = "form-control"})
                @Html.ValidationMessageFor(x => x.IDFilm, "", new {@class = "text-danger"})
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(x => x.Data, new {@class = "control-label col-md-3"})
            <div class="col-md-9">
                @Html.TextBoxFor(x => x.Data, new {@class = "form-control"})
                @Html.ValidationMessageFor(x => x.Data, "", new {@class = "text-danger"})
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(x => x.Nota, new {@class = "control-label col-md-3"})
            <div class="col-md-9">
                @Html.TextBoxFor(x => x.Nota, new {@class = "form-control"})
                @Html.ValidationMessageFor(x => x.Nota, "", new {@class = "text-danger"})
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(x => x.Comentariu, new {@class = "control-label col-md-3"})
            <div class="col-md-9">
                @Html.TextBoxFor(x => x.Comentariu, new {@class = "form-control"})
                @Html.ValidationMessageFor(x => x.Comentariu, "", new {@class = "text-danger"})
            </div>
        </div>
        
         <div class="form-group">
                    @Html.LabelFor(x => x.NumeUtilizator, new {@class = "control-label col-md-3"})
                    <div class="col-md-9">
                        @Html.TextBoxFor(x => x.NumeUtilizator, new {@class = "form-control"})
                        @Html.ValidationMessageFor(x => x.NumeUtilizator, "", new {@class = "text-danger"})
                    </div>
                </div>

        <div class="form-group">
            <div class="col-md-10 col-md-offset-2">
                <input type="submit" value="Edit" class="btn btn-primary"/>
            </div>
        </div>

    </div>
}
